.nav-header{
    width: 100%;
    display: flex;
    /* position: fixed;
    top: 0;
    z-index: 1000000000; */
    justify-content: center;
}
.header-bar{
    width: 80%;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
}

.header-img-container{
    display: flex;
    justify-content: space-between;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    width: 65%;
}
.item1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}
.item1 a{
    text-decoration: none;
    font-size: 16px;
    padding: 20px 10px;
    font-weight: 600;
    margin: 0 15px;
    color: #D5CEA3;
}
.item2{
    font-size: 21px;
    padding: 20px 10px;
}
.item2 a{
    font-size: 16px;
    color: #D5CEA3;
    text-decoration: none;
    padding-top: 3px;
    font-weight: 600;
}
.cross{
    /* background-color: #D5CEA3; */
    color: #D5CEA3;
    display: none;
}
@media only screen and (max-width: 1024px) {
    .header-bar, .item1, .nav-items{
        flex-direction: column;
        width: 90%;
    }
    .cross{
        border: 1px solid #D5CEA3;
        padding: 20px;
        border-radius: 8px;
        display: flex;
        margin: 0;
        font-size: large;
        align-items: center;
        font-weight: 600;
    }
    .item1 a, .item2 a{
        margin: 0;
        color: #D5CEA3;
        font-size: 30px;
    }
    .burger{
        /* color: #D5CEA3; */
        /* background-color: #D5CEA3; */
        border: 1px solid #D5CEA3;
        padding: 20px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .line{
        /* color: #D5CEA3; */
        background-color: #D5CEA3;
        width: 21px;
        height: 2px;
        line-height: 1;
        margin: 3px 0;
    }
}


